[submodule "Berkeley-Humanoid-Lite"]
	path = docs/Berkeley-Humanoid-Lite
	url = https://github.com/HybridRobotics/Berkeley-Humanoid-Lite.git
[submodule "docs/Recoil-Motor-Controller-BESC"]
	path = docs/Recoil-Motor-Controller-BESC
	url = https://github.com/T-K-233/Recoil-Motor-Controller-BESC.git
[submodule "docs/hardware_manuals/canable"]
	path = docs/hardware_manuals/canable
	url = https://github.com/makerbase-mks/CANable-MKS.git
[submodule "docs/SteamVR-Bridge"]
	path = docs/SteamVR-Bridge
	url = https://github.com/ucb-bar/SteamVR-Bridge.git
